# ignore build files
*.user
.objs
Makefile
bin/
.qmake.stash

# ignore moc files
moc_*
qrc_*.cpp
gump_plugin_import.cpp

# ignore user files
scripts/build_image.sh
scripts/gump_server/schema.sql
scripts/gump_server/setting.py
